<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" href="/game.css"/>
</head>
<body>
<header class="game-header">
    <div class="logo">Guess Number</div>
    <div class="header-buttons">
        <a th:href="@{/guessNumber/}">
            <button class="menu-button">Главное меню</button>
        </a>
        <a th:href="@{/guessNumber/howToPlay}">
            <button class="menu-button">Как играть?</button>
        </a>
    </div>
</header>

<div id="main_menu">
    <h1 id="main_text">Попытайтесь угадать число:</h1>
    <h3>Введите число от 1 до <span th:text="${gameDifficult}"></span></h3>
    <h3>Введенные ваши числа:</h3>
    <h3 class="numbers-list">
        <span th:each="num : ${numbers}" th:text="${num}"></span>
    </h3>


<form th:action="@{/guessNumber/game/checkPlayerVote}" method="post">
    <label>
        <input type="number" name="player_vote" id="player_vote" size="41px"><br>
    </label>
    <h3><span th:text="${result}"></span></h3>
    <input type="submit" class="action" id="check_number_button" value="Попытаться">
    <a th:href="@{/guessNumber/}">
        <button type="submit" class="action" id="cancel_button" value="lose" name="result">Сдаться</button>
    </a>
</form>
</div>
</body>
</html>