<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" href="/howToPlay.css"/>
</head>
<body>
<header class="game-header">
    <div class="logo">Guess Number</div>
    <div class="header-buttons">
        <a th:href="@{/guessNumber/}">
            <button class="menu-button">Главное меню</button>
        </a>
        <a th:href="@{/guessNumber/howToPlay}">
            <button class="menu-button">Как играть?</button>
        </a>
    </div>
</header>

<div id="text">
    Как играть в эту игру: <br><br>
    Цель игры: <br>
    Ваша задача — угадать случайное число, которое выбрано компьютером. После того как вы выберете уровень сложности,
    система сгенерирует случайное число, и вам нужно будет попытаться угадать его.
    <br><br>
    Выбор сложности: <br>

    Нажмите на кнопку "Выбрать сложность". <br>
    На этой странице вы можете выбрать диапазон загаданного числа. <br>
    Если сложность не будет выбрана, то она по умолчанию будет от 1 до 5.

    <br><br>
    Как играть: <br>
    После того как вы выбрали сложность, система сгенерирует случайное число в указанном диапазоне. <br>
    Введите ваше предположение в текстовое поле и нажмите "Проверить". <br>
    Если число угадано правильно, поздравляем! Вы победили. <br>
    Если число не угадано, система подскажет, больше оно или меньше вашего предположения, чтобы вы могли продолжить
    угадывать.
</div>

</body>
</html>