<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" href="/setGameDifficult.css"/>

</head>
<body>
<header class="game-header">
    <div class="logo">Guess Number</div>
    <div class="header-buttons">
        <a th:href="@{/guessNumber/}">
            <button class="menu-button">Главное меню</button>
        </a>
        <a th:href="@{/guessNumber/howToPlay}">
            <button class="menu-button">Как играть?</button>
        </a>
    </div>
</header>

<div id="main_menu">
<h1>Укажите диапазон максимального загаданного числа: </h1>
<form th:action="@{/guessNumber/}" method="get">
    <label for="range">Число (1 - 100):</label> <span id="rangeValue" th:text="${value}"></span>
    <input type="range" id="range" name="range" min="2" max="100" th:value="${value}" step="1">

    <script>
        const rangeInput = document.getElementById("range");
        const rangeValue = document.getElementById("rangeValue");

        // Устанавливаем начальное значение, чтобы сразу отображалось
        rangeValue.textContent = rangeInput.value;

        // Обновление значения при изменении ползунка
        rangeInput.addEventListener("input", function() {
            rangeValue.textContent = rangeInput.value;
        });
    </script>
    </script>
    <button type="submit" name="action" class="action" id="cancel_button" value="cancel">Отмена</button>
    <button type="submit" name="action" class="action" id="confirm_button" value="confirm">Подтвердить</button>
</form>
</div>

</body>
</html>